@import "../styles/variable";
.productItem {
  font-size: 1em;
  display: flex;
  gap: 0.5em;
  align-items: center;
  background-color: $white;
  padding: 0.5em;
  border-radius: 0.6em;
  box-shadow: $boxShadow;
  cursor: pointer;
  transition: all 0.3s;
  border: 3px solid transparent;

  &.active {
    border: 3px solid #971f1f;
    color: #971f1f;
    font-weight: bolder;
  }

  > div {
    flex-basis: 15%;
    > img {
      width: 100%;
    }
  }
}
