@tailwind base;
@layer base {

  body {
    background-image: url("../src/assets/mybg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  *{
    scroll-behavior: smooth;
  }
  @font-face {
    font-family: 'MangoGrotesque';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('./fonts/MangoGrotesque-Thin.woff2') format('woff2');
  }
  @font-face {
    font-family: 'MangoGrotesque';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('./fonts/MangoGrotesque-ExtraLight.woff2') format('woff2');
  }
  @font-face {
    font-family: 'MangoGrotesque';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('./fonts/MangoGrotesque-Light.woff2') format('woff2');
  }
  @font-face {
    font-family: 'MangoGrotesque';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/MangoGrotesque-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'MangoGrotesque';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./fonts/MangoGrotesque-Medium.woff2') format('woff2');
  }
  @font-face {
    font-family: 'MangoGrotesque';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./fonts/MangoGrotesque-SemiBold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'MangoGrotesque';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./fonts/MangoGrotesque-Bold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'MangoGrotesque';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('./fonts/MangoGrotesque-ExtraBold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'MangoGrotesque';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('./fonts/MangoGrotesque-Black.woff2') format('woff2');
  }
}
@tailwind components;


@tailwind utilities;
@layer utilities {
  @keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
.logo {
background: linear-gradient(
    to right,
    #7953cd 20%,
    #00affa 30%,
    #0190cd 70%,
    #764ada 80%
);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
background-size: 500% auto;
animation: textShine 2s ease-in-out infinite;

}
.triangle{
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
#mainImageTexts , #mainImageTextsMobile{
  opacity: 0;
}
#mainImageContainer .char{
  transform-origin: top;
  opacity: 0;
}
.line{
  display: flex !important;
    align-items: center !important;
    gap: .25rem;
}

.main-image-text{
    letter-spacing: 2px;
    text-shadow: 0 0 15px #000000;
}

.none-event{
  pointer-events: none;
}

}
